@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 40px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
}

input {
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.no-cursor {
  cursor: not-allowed;
}

/* BACKGROUND */

.background {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/efb4855d-e702-43e5-9997-bba0154152e0/24b15e34-635d-4b67-abde-156041d6f80e/NZ-en-20230417-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  background-repeat: repeat-y;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.background:after, .movie__main.after {
  content: "";
  background-color: rgba(15,15,15,0.83);
}

.red {
  color: #e50914;
}

/* NAVIGATION  */

#landing {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  z-index: 1;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
}

.logo {
  display: flex;
  align-items: center;
}

.logo__white {
  color: white;
}

.logo__name {
  font-family: "Bebas Neue";
  font-size: 32px;
  color: white;
  letter-spacing: 2px;
  margin-right: 8px;
  align-items: center;
  padding-left: 12px;
}

.logo__img {
  width: 100px;
  height: 32px;
}

.btn__contact {
  color: #e50914;
  padding: 12px 40px;
  background-color: white;
  border-radius: 100px;
  font-weight: 700px;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 350ms ease;
}

.btn__contact:hover {
  background-color: #e50914;
  color: white;
}

/* HEADER  */

h1 {
  font-size: 45px;
  color: white;
  font-weight: 500;
  text-align: center;
  max-width: 1000px;
  margin-bottom: 40px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  width: 100%;
  max-width: 600px;
  position: relative;
  margin-bottom: 64px;
}

.input-movie {
  border-radius: 100px;
  border: 2px solid transparent;
}

input {
  color: rgba(0, 0, 0.87);
  width: 100%;
  max-width: 800px;
  height: 60px;
  font-size: 20px;
  padding-left: 20px;
}

.home_image--wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 24px 0;
}

.home_image {
  height: 50vh;
}

.searchIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  color: #e50914;
  font-size: 32px;
  padding: 0 20px 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all 300ms ease;
}

.searchIcon:hover {
  color: #ff328f;
}

.searchIcon__img {
  width: 40px;
}

.btn_search {
  border: none;
  background: transparent;
  cursor: pointer;
}

/* SEARCH  */

#search {
  background: white;
}

.search-filter {
  padding: 40px 32px;
  display: flex;
  justify-content: space-between;
}

.searchInfo {
  color: #0a1f44;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 25%;
  margin-bottom: 32px;
  padding: 0 16px;
}

.movie__img {
  max-width: 300px;
  transition: all 300ms ease;
  cursor: pointer;
}

.movie__img--wrapper {
  margin-bottom: 4px;
}

.movie__title {
  font-size: 20px;
  font-weight: 700;
}

.movie__year {
  font-size: 18px;
}

.movie:hover .movie__img {
  transform: scale(1.03);
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

.spinner--wrapper {
  width: 40px;
  height: 40px;
  display: block;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skeleton {
  background-color: rgb(227, 227, 227) !important;
  margin-bottom: 8px;
}

.movie__title--skeleton {
  height: 28px;
  width: 100%;
}

.movie__year--skeleton {
  width: 100%;
  height: 24px;
}

.movie__img--skeleton {
  max-width: 300px;
  width: 268px;
  height: 397px;
  margin-bottom: 8px;
  background-color: rgb(204, 204, 204);
}

/* movies Info */

.white {
  color: white;
}

.movie__selected--top {
  padding-left: 40px;
  display: flex;
  align-items: center;
}

.fa-arrow-left {
  font-size: 30px;
}


.movie__link {
  color: #e50914;
}

.movie__link--hover {
    position: relative;
  }

.movie__link--hover:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.movie__link--hover:hover:after {
  width: 100%;
  left: 0;
  background-color: #e50914;
}

.movie__selected--title--top {
  font-size: 32px;
}

.movie__selected {
  margin-top: 80px;
  display: flex;
}

.movie__selected--figure {
  width: 50%;
  padding: 16px 32px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.movie__selected--img {
  max-height: 500px;
  width: auto;
  max-width: 100%;
}

.movie__selected--description {
  width: 50%;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie__selected--title,
.movie__selected--subtitle,
.movie__summary--para {
  margin-bottom: 12px;
}

.movie__selected--title {
  font-size: 48px;
}

.movie__summary--title {
  margin-bottom: 12px;
  font-size: 28px;
}

.movie__extra--info {
  margin-top: 20px;
}

.movie__summary--languages {
  margin-bottom: 12px;
}

.movie__selected--img--skeleton {
  max-height: 500px;
  width: 300px;
  height: 446px;
  max-width: 100%;
  background-color: rgb(204, 204, 204);
}

.movie__title--loading {
  width: 65%;
  height: 130px;
}

.movie__subtitle--loading {
  width: calc(100% / 3);
  height: 20px;
}

.summary__title--loading {
  width: 25%;
  height: 40px;
}

.summary__para--loading {
  width: 100%;
  height: 100px;
}

.summary__genre--loading {
  width: 40%;
  height: 30px;
}

.summary__languages--loading {
  width: 100%;
  height: 30px;
}

/* SMALL PHONES, TABLETS and LARGE SMARTPHONES */

@media (max-width: 768px) {
  .movie {
    width: 50%;
    margin-bottom: 32px;
    padding: 0 28px;
  }

  .nav__link {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  .input-wrapper {
    padding: 0 60px;
  }

  input {
    max-width: 480px;
    display: flex;
    align-items: center;
  }

  .searchIcon {
    right: 64px;
  }

  .filler-prompt {
    font-size: 36px;
  }

  .movie__selected--title {
    font-size: 32px;
  }

  .movie__summary--para {
    font-size: 14px;
  }

  .movie__selected--top {
    justify-content: center;
  }
}

/* SMALL PHONES */

@media (max-width: 480px) {
  .movie {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  .nav__link {
    display: none;
  }

  h1 {
    font-size: 32px;
  }

  .input-wrapper {
    padding: 0 48px;
  }

  input {
    max-width: 360px;
    display: flex;
    align-items: center;
  }

  .searchIcon {
    right: 50px;
  }

  .searchInfo {
    font-size: 18px;
    text-align: center;
    margin-right: 8px;
  }

  .filler-prompt {
    font-size: 28px;
  }

  .movie__selected{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movie__selected--figure {
    width: 100%;
    justify-content: center;
    padding: 0;
    margin-bottom: 24px;
  }

  .movie__selected--description{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 24px;
  }

  .movie__selected--top {
    padding: 24px 0 0 0;
  }

  .movie__selected--title {
    padding: 0 40px;
    text-align: center;
  }

  .movie__summary, .movie__extra--info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movie__summary--title {
    font-size: 24px;
  }

  .movie__summary--para, .movie__summary--languages {
    padding: 0 70px;
    text-align: center  ;
  }

  .movie__summary--genre {
    margin-bottom: 40px;
  }

  .movie__body {
    background-color: white;
  }

  .white {
    color: #0a1f44;
  }

  .summary__para--loading, 
  .summary__languages--loading {
    width: 70%;
  }

  .movie__link {
    color: #0a1f44;
  }

  .movie__link--hover:hover:after {
    background-color: #0a1f44;
  }
}
